<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<div *ngIf="requestedResources">
  <mat-card class="options">
    <mat-card-header>
      <h1>Options</h1>
    </mat-card-header>
    <mat-card-content>

      <mat-checkbox [(ngModel)]="rmstChecked">Display requests without an RMST</mat-checkbox>
      <mat-checkbox [(ngModel)]="requesterChecked">Display requests without a requester</mat-checkbox>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <h1>RMST Pick List</h1>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <b>Today's Date</b>: {{ today | date: 'mediumDate' }}
        </li>
        <li>
          <p><b>Total</b>: {{ getTotalVisible() }}</p>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div>
    <div *ngFor="let resource of getVisibleResources() | storageLocationIdSort: 'asc'; index as i">
      <div
        *ngIf="resource.location.copy[0] && resource.location.copy[0].storage_location_id != '' || rmstChecked || requesterChecked ">
        <mat-card>
          <mat-card-title-group>
            <mat-card-title><b></b>{{ i+1 }}. {{ resource.resource_metadata.title }} </mat-card-title>
            <button class="remove-button" mat-icon-button aria-label="Remove" (click)="hideResource(i)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-title-group>

          <dl *ngFor="let copy of resource.location.copy">
            <dt><strong>RMST</strong></dt>
            <dd>{{ copy.storage_location_id }}</dd>
            <dt><strong>Barcode</strong></dt>
            <dd>{{ copy.barcode }}</dd>
            <dt><strong>Status</strong></dt>
            <dd>{{ copy.base_status.desc }}</dd>
          </dl>

          <dl *ngFor="let request of resource.request">
            <dt><strong>Pickup Location</strong></dt>
            <dd>{{ request.destination.desc }}</dd>
            <dt><strong>Request Type</strong></dt>
            <dd>{{ request.request_type }}</dd>
            <dt><strong>Request Sub-Type</strong></dt>
            <dd>{{ request.request_sub_type.value }}</dd>
            <dt><strong>Requester</strong></dt>
            <dd>{{ request.requester.desc }}</dd>
            <div *ngIf="request.email">
              <dt>Requester Email</dt>
              <dd>{{ request.email }}</dd>
            </div>
          </dl>


          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!loading">
  <app-print-button></app-print-button>
</div>