.mat-card {
  margin-bottom: 20px;
}

@media print {
  .options {
      display: none;
  }

  .remove-button {
      display: none;
  }
}

dl {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0;
}

dl { 
  display: table-cell;
  width: inherit;
}

dt,
dd {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  padding: .25em .25em 0em 0em;
}

dt {
  font-weight: bold;
}
