<div *ngIf="items.length <= 0">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="items.length > 0">
  <mat-card *ngFor="let item of items" [value]="item">
    <mat-card-title-group>
      <mat-card-title>{{ item.bib_data.title }}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
          <ul>

            <li>
              <b>RMST Number</b>: {{ item.item_data.storage_location_id }}
            </li>
            <li>
              <b>Barcode</b>: {{ item.item_data.barcode }}
            </li>
          </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="removeItem(item)">Remove</button>
    </mat-card-actions>
  </mat-card>
  <p>Total: {{ items.length }}</p>
</div>
<app-print-button></app-print-button>